<!-- TODO: add header and html tag stuff for all the html files -->
<!-- TODO: validation for all forms  -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Secure</title>
  </head>

  <header>
    <div class="container">
      <a routerLink="/" class="logo">3316 Lab 5</a>

      <nav>
        <ul>
          <li>
            <a (click)="show_security_policy()">Security/Privacy Policy </a>
          </li>
          <li><a (click)="show_DMCA_policy()">DMCA/Tackdown Policy </a></li>
          <li><a (click)="keyword_search()">Keyword search </a></li>

          <li><a routerLink="/">Logout</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="container">
    <app-top10-songs [refresh_top10]="refresh_top10"></app-top10-songs>
  </div>

  <div class="container">
    <h2>
      Add a Review to a song
    </h2>
    <form name="add-review-form" novalidate (ngSubmit)="submit_review()">
      Subject:
      <input name="subject" type="text" [(ngModel)]="new_review.subject" />
      <br />
      Rating:
      <input name="rating" type="number" [(ngModel)]="new_review.rating" />
      <br />
      Comment:
      <input name="comment" type="text" [(ngModel)]="new_review.comment" />
      <br />
      Song:
      <select name="songId" [(ngModel)]="new_review.songId">
        <option>Song to add review</option>

        <option value="{{ song._id }}" *ngFor="let song of songs"
          >{{ song.title }} - {{ song.artist }}</option
        >
      </select>
      <input type="submit" />
      <br />
      {{ add_review_output }}
    </form>
    <br />
  </div>

  <div class="container">
    <h2>
      Add a song
    </h2>
    <form name="add-song-form" novalidate (ngSubmit)="add_new_song()">
      Title:
      <input name="title" type="text" [(ngModel)]="new_song.title" />
      <br />
      Artist:
      <input name="artist" type="text" [(ngModel)]="new_song.artist" />
      <br />
      Album:
      <input name="album" type="text" [(ngModel)]="new_song.album" />
      <br />
      Year:
      <input name="year" type="text" [(ngModel)]="new_song.year" />
      <br />
      Genre:
      <input name="genre" type="text" [(ngModel)]="new_song.genre" />
      <br />
      Track:
      <input name="track" type="text" [(ngModel)]="new_song.track" />
      <br />
      Comment:
      <input name="comment" type="text" [(ngModel)]="new_song.comment" />
      <br />
      <br />

      <a
        (click)="this.song_rev_expand = !this.song_rev_expand"
        (click)="add_song_rev = !add_song_rev"
      >
        <span
          *ngIf="!this.song_rev_expand; then thenBlock; else elseBlock"
        ></span>
        <ng-template #thenBlock>Add Review</ng-template>

        <ng-template #elseBlock>Cancel Review</ng-template>
      </a>
      <div *ngIf="this.song_rev_expand">
        <h5>
          Review:
          <br />
          Subject:
          <input name="subject" type="text" [(ngModel)]="new_review.subject" />
          <br />
          Rating:
          <input name="rating" type="number" [(ngModel)]="new_review.rating" />
          <br />
          Comment:
          <input name="comment" type="text" [(ngModel)]="new_review.comment" />
        </h5>
      </div>
      <br />
      <input type="submit" />
      <br />
      {{ add_song_output }}
    </form>

    <!-- TODO: add option to add review  -->
    <br />
  </div>
</html>
