<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>DMCA and Takedown Privacy</title>
  </head>

  <header>
    <div class="container">
      <a routerLink="/" class="logo">3316 Lab 5</a>
    </div>
  </header>

  <body>
  <div class="container">
    <h1>DMCA and Takedown Privacy</h1>
    <h2>Send DMCA notices to yirfan3@uwo.ca</h2>
  <h2>DMCA Policy:</h2>
  {{policy.dmca}}
  <br>
  <h2>Takedown Policy</h2>  
  {{policy.takedown}}
  </div>
</body>

</html>
