<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Admin</title>
  </head>

  <header>
    <div class="container">
      <a routerLink="/" class="logo">3316 Lab 5</a>

      <nav>
        <ul>
          <li>
            <a (click)="show_security_policy()">Security/Privacy Policy </a>
          </li>
          <li><a (click)="show_DCMA_policy()" >DCMA/Tackdown Policy </a></li>
          <li><a (click)="logs()" >Logs</a></li>
          <li><a routerLink="/">Logout</a></li>


        </ul>
      </nav>
    </div>
  </header>
  <div class="container">
    <h1>Admin</h1>

    <app-top10-songs [refresh_top10]="refresh_top10"></app-top10-songs>

    <div>
      <h2>Add/Remove Admin Access</h2>
      <form novalidate (ngSubmit)="toggle_admin()">
        <select
          name="selected_user_admin_id"
          [(ngModel)]="selected_user_admin_id"
        >
          <option value="{{ user._id }}" *ngFor="let user of users"
            >{{ user.email }} -  <p *ngIf="!user.isAdmin">Not </p>Admin 
          </option>
        </select>
        <input type="submit" />
      </form>
      {{ output_log_create }}
    </div>

    <div>
      <h2>Activate/Deactivate User</h2>
      <form novalidate (ngSubmit)="toggle_active()">
        <select
          name="selected_user_active_id"
          [(ngModel)]="selected_user_active_id"
        >
          <option value="{{ user._id }}" *ngFor="let user of users"
            >{{ user.email }} -  <p *ngIf="!user.isActive">Not </p>
          Active 
          </option>   
        </select>
        <input type="submit" />
      </form>
      {{ toggle_admin_output }}
    </div>

    <div>
      <h2>Hide/Unhide Songs</h2>
      <form novalidate (ngSubmit)="toggle_hide()">
        <select name="selected_song_id" [(ngModel)]="selected_song_id">
          <option value="{{ song._id }}" *ngFor="let song of songs"
            >{{ song.title }} - {{ song.artist }} -  <p *ngIf="!song.hidden ">Not </p>Hidden 
          </option>
        </select>
        <input type="submit" />
      </form>
      {{ toggle_hidden_output }}
    </div>

    <div>
      <h2>Add Security & Privacy Policy</h2>

      <form novalidate (ngSubmit)="add_priv_sec_policy()">
        Security Policy:
        <br />
        <textarea
          [(ngModel)]="add_sec_priv_policy.security"
          name="security"
          cols="30"
          rows="10"
        ></textarea>
        <br />
        Privacy Policy:
        <br />
        <textarea
          [(ngModel)]="add_sec_priv_policy.privacy"
          name="privacy"
          cols="30"
          rows="10"
        ></textarea>
        <br />
        <input type="submit" />
      </form>
      <br />
      {{ output_priv_sec_add }}
    </div>

    <div>
      <h2>Update Security & Privacy Policy</h2>

      <form novalidate (ngSubmit)="update_priv_sec_policy()">
        Security Policy:
        <br />
        <textarea
          [(ngModel)]="update_sec_priv_policy.security"
          name="security"
          cols="30"
          rows="10"
        ></textarea>
        <br />
        Privacy Policy:
        <br />
        <textarea
          [(ngModel)]="update_sec_priv_policy.privacy"
          name="privacy"
          cols="30"
          rows="10"
        ></textarea>
        <br />
        <input type="submit" />
      </form>
      <br />
      {{ output_priv_sec_update }}
    </div>

    <div>
      <h2>Add DMCA & Take Down Policy</h2>

      <form novalidate (ngSubmit)="add_dmca_takedown_policy()">
        DCMA Policy:
        <br />
        <textarea
          [(ngModel)]="add_dmcaTakedown_policy.dmca"
          name="DCMA"
          cols="30"
          rows="10"
        ></textarea>
        <br />
        Takedown Policy:
        <br />
        <textarea
          [(ngModel)]="add_dmcaTakedown_policy.takedown"
          name="takedown"
          cols="30"
          rows="10"
        ></textarea>
        <br />
        <input type="submit" />
      </form>
      <br />
      {{ output_dmca_takedown_add }}
    </div>

    <div>
      <h2>Update DMCA & Take Down Policy</h2>

      <form novalidate (ngSubmit)="update_dmca_takedown_policy()">
        Update Policy:
        <br />
        <textarea
          [(ngModel)]="update_dmcaTakedown_policy.dmca"
          name="DCMA"
          cols="30"
          rows="10"
        ></textarea>
        <br />
        Takedown Policy:
        <br />
        <textarea
          [(ngModel)]="update_dmcaTakedown_policy.takedown"
          name="takedown"
          cols="30"
          rows="10"
        ></textarea>
        <br />
        <input type="submit" />
      </form>
      <br />
      {{ output_dmca_takedown_update }}
    </div>
  </div>
</html>
