<!-- 
<div class="container">    
    <h2>Login</h2>
    <form novalidate (ngSubmit)="submitLogin()">
      <label for="email">Email:</label>
      <input type="text" name="email" [(ngModel)]=userModel.email>
      <label for="password">Password:</label>
      <input type="text" name="password" [(ngModel)]=userModel.password>

      <input type="submit">
    </form>
  </div> -->

<header>
  <div class="container">
    <a routerLink="/" class="logo">3316 Lab 5</a>
  </div>
</header>

<div class="container">
    <button routerLink="/login-page">Login</button>
</div>
