<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Security Privacy</title>
  </head>

  <header>
    <div class="container">
      <a routerLink="/" class="logo">3316 Lab 5</a>
    </div>
  </header>

  <body>
  <div class="container">
    <h1>Security And Privacy Policies:</h1>
  <h2>Security Policy:</h2>
  {{policy.securityPolicy}}
  <br>
  <h2>Privacy Policy</h2>  
  {{policy.privacyPolicy}}
  </div>
</body>

</html>
